.Presentation {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Presentation__text {
    color: white;
}

.Presentation__content__img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}