.aPropos {
    border-bottom: 3px solid white;
}

.aPropos__title {
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.aPropos__text {
    font-size: 19px;
    margin: 0;
    padding: 20px 0px 40px 0px;
}

.experience,
.formation {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px white;
    margin-bottom: 0px;

}

.experience__content,
.formation__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(21 42 92 / 59%);
    width: 100%;
    padding-left: 50px;
    border-radius: 0px 25px 25px 0px;
    color: white;
    height: 205px;
}

.experience__content__text {
    height: 25%;
}


.experience__content__text h4,
.formation__content__text h4 {
    margin: 0;
}

.experience__content__text h5 {
    margin: 0;
}

.formation__content__text h5 {
    margin: 0;

}

/* .formation__content__text {
    height: 50%;
} */

.experience__date,
.formation__date {
    width: 25%;
    height: 205px;
}

.experience__date__list,
.formation__date__list {
    margin: 0%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    background-color: rgb(0 1 41 / 35%);
    border-right: solid rgba(255, 255, 255, 0.24) 2px;
    border-radius: 25px 0px 0px 25px;
    height: 205px;
}

.experience__date__list li,
.formation__date__list li {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.226);
    padding-left: 40px;
    border-radius: 0px 0px 0px 25px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.formation__date__list li {
    height: 50%;

}

.Competences {
    padding-bottom: 40px;
}

.Competences__title {
    color: white;
    font-size: 40px;
    margin: 10px 0px;
}

.Competences__text {
    color: white;
    font-size: 20px;
}

.Competences__content__img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(0 1 41 / 35%);
    padding: 15px 0px;
    border-radius: 25px;
}

.Competences__content__img img {
    box-shadow: 1px -1px 25px 7px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 180px;
    height: 180px;
}