@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Architects Daughter',
    sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}